body {
    background-color: powderblue;
}

.lefttxt{
    position:absolute;
    top:50px;
    left:40px;
    font-size: 25px;
}

.righttxt{
    position:absolute;
    top:50px;
    left:250px;font-size: 25px;
}

.mainframe{
    position: absolute;
    top:118px;left:41px;
    width:291px;height:322px;
    border:2px solid rgb(20, 57, 177);
}